.Card1 {
  text-align: center;
}

.Card1-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Card1-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.Card1-img {
  height: 600px;
  width: 400px;
  margin: auto;
  border-radius: 15px;
  position: relative;
}
.Card1-btn {
  position: absolute;
  top: 1%;
  left: 1%;
  margin-top: 32px;
  padding: 8px 16px 8px 8px;
  line-height: 24px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #000000;
  color: white;
}

.Card1-text1 {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 27px;
  position: absolute;
  bottom: 3.3pc;
  left: 1.5pc;
}
.Card1-text2 {
  color: white;
  font-weight: lighter;
  margin: 0;
  font-size: 13px;
  position: absolute;
  bottom: 1.5pc;
  left: 2.6pc;
}
.Card1-location {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 1.5pc;
  left: 1.3pc;
}

.Card1-title {
  font-size: 1.5em;
}

.Card1-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
